*, ul, li, a {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-family: sans-serif;
}

.header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-items: center;
  padding: 0.5em;
  z-index: 100;
}
.header .header_title {
  font-size: 1.2em;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #2C274E;
  font-weight: normal;
}
@media screen and (min-width: 320px) {
  .header .header_title {
    font-size: 1.2em;
  }
}
.header .header_Menu {
  margin-left: auto;
  font-variant: small-caps;
  font-weight: normal;
  cursor: default;
  font-size: 0.9em;
  transition: 0.4s;
  padding: 0.2em;
  position: relative;
  border: 2px solid #2C274E;
  border-radius: 0.4em;
  color: #2C274E;
}
.header .header_Menu:hover {
  transition: 0.4s;
  background: #63e252;
}
.header .header_mall {
  height: 35px;
  width: 35px;
}
.header .header_mall_count {
  border: 1px solid #2C274E;
  color: #2C274E;
  font-size: 0.7em;
  background: #8ae97d;
  border-radius: 100%;
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-variant: small-caps;
  font-weight: normal;
  position: absolute;
  right: 0%;
  top: 10%;
}

.carousel_main {
  position: relative;
  width: 100%;
  height: 170px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .carousel_main {
    height: 160px;
  }
}
@media screen and (max-width: 468px) {
  .carousel_main {
    height: 160px;
  }
}
@media screen and (max-width: 320px) {
  .carousel_main {
    height: 160px;
  }
}
.carousel_main .carousel_img_container {
  width: 100%;
  height: 300px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: addd 20s infinite;
  animation-timing-function: cubic-bezier(0.08, 1.31, 0.52, 1.41);
}
@keyframes addd {
  16.66% {
    background-image: url(../img/newadd1.png);
  }
  33.33% {
    background-image: url(../img/newadd2.png);
  }
  49.99% {
    background-image: url(../img/newadd1.png);
  }
  66.65% {
    background-image: url(../img/newadd2.png);
  }
  83.31% {
    background-image: url(../img/newadd1.png);
  }
  100% {
    background-image: url(../img/newadd2.png);
  }
}
@media screen and (min-width: 768px) {
  .carousel_main .carousel_img_container {
    width: 100%;
  }
}
@media screen and (min-width: 468px) {
  .carousel_main .carousel_img_container {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .carousel_main .carousel_img_container {
    width: 100%;
  }
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background: black;
}

.main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main_container .main_container_titles {
  width: 50%;
  margin: auto;
  background: #414C6D;
  color: white;
  padding: 0.5em;
  font-variant: small-caps;
  text-align: center;
  font-size: 1.2em;
}
.main_container .container_products {
  width: 100%;
  height: 100%;
  padding: 0.3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: default;
  position: relative;
}
@media screen and (max-width: 400px) {
  .main_container .container_products {
    justify-content: center;
  }
}
.main_container .container_products .container_products_Content {
  position: relative;
  width: 170px;
  height: 285px;
  background: white;
  box-shadow: 0 0.1em 0.2em #2C274E;
  padding: 0.2em;
  margin: 0.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  border-bottom: 50px solid #414C6D;
  transition: 0.4s;
}
@media screen and (max-width: 400px) {
  .main_container .container_products .container_products_Content {
    width: 44%;
  }
}
.main_container .container_products .container_products_Content:hover {
  transition: 0.4s;
  box-shadow: 0 -0.1em 0.3em #414C6D;
}
.main_container .container_products .container_products_Content .container_products_Content_img {
  width: 100px;
  height: 150px;
  margin: 0.5em;
}
.main_container .container_products .container_products_Content .container_products_Content_desc {
  padding: 0 0.5em;
}
.main_container .container_products .container_products_Content .container_products_Content_desc .container_products_Content_titleP {
  font-variant: small-caps;
  font-weight: normal;
}
.main_container .container_products .container_products_Content .container_products_Content_desc .container_products_Content_Price {
  font-variant: small-caps;
  font-weight: normal;
  color: #474747;
}
.main_container .container_products .container_products_Content .container_products_Content_desc .container_products_Content_desc_exeptions {
  font-weight: normal;
}

.container_pages {
  width: 100%;
}
.container_pages .container_pages_cont {
  width: 75%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.container_pages .container_pages_cont .container_pages_nums {
  padding: 0.5em;
  margin: 0.2em;
  color: white;
  font-size: 0.8em;
  font-variant: small-caps;
  transition: 0.5s;
  font-size: 0.9em;
  background: #414C6D;
  box-shadow: 0 0 0.1em #4FDE3C;
}
.container_pages .container_pages_cont .container_pages_nums:hover {
  transition: 0.5s;
  background: white;
  color: black;
  border-color: #2C274E;
}

.content_footer {
  width: 100%;
  height: 175px;
  position: -webkit-sticky;
  position: sticky;
  font-variant: small-caps;
  display: flex;
  flex-direction: column;
  border-top: 10px solid #414C6D;
  justify-content: center;
  padding: 0.5em;
  position: relative;
  background: #4FDE3C;
}
.content_footer .content_footer_nav {
  width: 50%;
}
.content_footer .content_footer_nav .content_footer_nav_list .content_footer_nav_list_link {
  font-size: 0.9em;
  position: relative;
  color: #2C274E;
}
.content_footer .content_footer_nav .content_footer_nav_list .content_footer_nav_list_link:hover:before {
  width: 100%;
}
.content_footer .content_footer_nav .content_footer_nav_list .content_footer_nav_list_link::before {
  bottom: 0;
  content: "";
  width: 0%;
  height: 2px;
  background: #2C274E;
  position: absolute;
  transition: 0.5s;
}
.content_footer .content_footer_credits {
  padding: 0.5em;
  color: #2C274E;
  font-weight: bolder;
  position: relative;
  justify-content: center;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  margin: -1em auto;
  width: 50vh;
  display: flex;
  align-items: center;
}
.content_footer .content_footer_credits:hover:before {
  width: 50%;
}
.content_footer .content_footer_credits::before {
  bottom: 0;
  content: "";
  width: 0%;
  height: 2px;
  background: #2C274E;
  position: absolute;
  transition: 0.5s;
}