@use 'components/reset' as *;
@use 'components/colors' as *;
.carousel_main{
	position:relative;
	width: 100%;
	height: 170px;
	
	margin: auto;
	display: flex;
	flex-direction: column;
	@media screen and (max-width: 768px) {
		height: 160px;
	}
	@media screen and (max-width: 468px) {
		height: 160px;
	}
	@media screen and (max-width: 320px) {
		height: 160px;
	}

	.carousel_img_container{
		width:100%;
		height: 300px;
		margin: auto;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

		animation: addd 20s  infinite;
		animation-timing-function: cubic-bezier(0.08, 1.31, 0.52, 1.41);

		@keyframes addd{
			16.66%{background-image: url(../img/newadd1.png);}
			33.33%{background-image: url(../img/newadd2.png);}
			49.99%{background-image: url(../img/newadd1.png);}
			66.65%{background-image: url(../img/newadd2.png);}
			83.31%{background-image: url(../img/newadd1.png);}
			100%{background-image: url(../img/newadd2.png);}
		}
		@media screen and (min-width: 768px) {
			width: 100%;
		}
		@media screen and (min-width: 468px) {
			width: 100%;
		}
		@media screen and (max-width: 320px) {
			width: 100%;
		}

		
	}
}